@model InvoicingApp.Domain.Models.Production.Product
@{
    ViewBag.Title = "Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nuevo Producto</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12" style="margin-top:10px;">
                @Html.LabelFor(model => model.ApplyTax, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.CheckBoxFor(model => model.ApplyTax, htmlAttributes: new { @class = "form-control"})
                @*<input id="cbApplyTax" type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="ios" name="ApplyTax" />*@
                @Html.ValidationMessageFor(model => model.ApplyTax, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>
        <div class="form-group">

            <div class="form-group">
                <div class="" style="margin-top:10px;">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal" style="border-radius:6px;">Cerrar</button>
                    <button id="btn-savepaypal" type="submit" class="btn btn-success" style="border-radius:6px;">Guardar</button>
             </div>
            </div>
        </div>

    </div>
}
<div>
    @*@Html.ActionLink("Regresar", "Index")*@
</div>

